/* reset css */
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

li{
    margin-left: 1em;
}

table{
    border-spacing: 0;
}

/* font e body */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body{
    width: 100%;
    background-color: rgb(246,248,249);
    font-family: 'Roboto', sans-serif;
}

/* banner */
header{ 
    background-color: white;
}

#logo{
    vertical-align: middle;
    height: 80px;
    padding: 7px 0px 7px 12px; 
}

#logotesto{
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
}

/* bottoni */
.container1{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    padding: 15px 0 15px 40px;
    margin-bottom: 2px;
}

button{
    padding: 5px;
    border-radius: 5px;
}

#button1{
    background-color: rgb(71, 173, 241);
    color: white;
    border: 1px solid rgb(71, 173, 241);
}

#button2{
    background-color: white;
    color: lightgray;
    border: 1px solid lightgray;
}

/* liste */
.container2{
    width: 80%;
    margin: auto;
    background-color: white;
}

h2{
    padding-bottom: 2px;
    padding-left: 14px;
}

.lists{
    padding: 28px;
}

ul li{
    list-style-type: none;
    margin-bottom: 15px;
}

/* checked unchecked */
.symbol1{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid green;
    border-radius: 50%;
    color: green;
}

.symbol2{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid red;
    border-radius: 50%;
    color: red;
}

.checked::before{
    content: "\2713";
    padding: 2px;
    line-height: 20px;
    color: green;
}

.unchecked::before{
    content: "\2717";
    padding: 2px;
    line-height: 20px;
    color: red;
}

/* etichette */
.etichette::after{
    border-radius: 12px;
    padding: 5px 8px;
    margin-left: 8px;
    color: white;
}

.blue::after{
    content: 'Editorial';
    background-color: rgb(69, 171, 234);
}

.purple::after{
    content: 'Q1 Goals';
    background-color: rgb(156, 114, 228);
}

.almostgreen::after{
    content: 'Recruiting';
    background-color: rgb(100, 192, 169);
}

.orange::after{
    content: 'Mobile';
    background-color: rgb(242, 158, 51);
}

.pink::after{
    content: 'Website';
    background-color: rgb(216, 99, 161);
}

.green::after{
    content: 'Sales';
    background-color: rgb(176, 201, 38);
}