/* reset css */
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

li{
    margin-left: 1em;
}

table{
    border-spacing: 0;
}

body{
    width: 100%;
    background-color: rgb(194, 224, 234);
}

header{ 
    background-color: white;
}

#logo{
    vertical-align: middle;
    height: 80px;
    padding: 7px 0px 7px 12px; 
}

#logotesto{
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
}

.container1{
    width: 80%;
    height: 50px;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    padding: 14px 0 0 35px;
    margin-bottom: 2px;
}

#button1{
    background-color: deepskyblue;
    color: white;
    padding: 5px;
    border: 1px solid deepskyblue;
    border-radius: 5px;
}

#button2{
    background-color: white;
    color: lightgray;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

